
<!DOCTYPE html>
<html>
<body>

<form action="../index.php" method="post">

    <label>Username</label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label>Email</label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label>Password</label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label>Repeat Password</label>
    <input type="password" placeholder="Repeat Password" name="repeated_password" required>

    <label>City</label>
    <input type="text" placeholder="Enter City" name="cityid" required>

    <button type="submit" name="register">Register</button>

</form>

</body>
</html>
